/* Стили для кнопки сворачивания меню */
.menu-toggle {
    cursor: pointer;
    padding: 10px;
    text-align: right;
    display: none; /* По умолчанию скрыта */
}

.menu-toggle .bars.icon {
    font-size: 24px; /* Размер иконки */
    color: var(--primary-color); /* Цвет иконки */
}

/* Стили для меню */
#main-menu {
    display: flex; /* Меню всегда видно по умолчанию */
    transition: all 0.3s ease; /* Плавное сворачивание */
}

/* Стили для скрытого меню */
#main-menu.collapsed {
    display: none; /* Скрываем меню */
}

/* Показываем кнопку на всех устройствах */
@media (max-width: 1200px) {
    .menu-toggle {
        display: block; /* Показываем кнопку */
    }

    #main-menu {
        flex-direction: column; /* Меню становится вертикальным */
    }
}
